a {
  text-decoration: none;
}

.stickMenu {
  position: fixed;
  left: 23px;
  top: 39px;
  width: 36px;
  height: 36px;
  background-color: #D6345D;
  border-radius: 2px;
  border: 1px solid #E493A4;
  box-sizing: border-box;
  z-index: 10;
  cursor: pointer;
}

.coverArea {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background-image: url(../images/bg-mia.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.coverBg {
  width: 100%;
}

.headPicArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.headPicArea .headPic {
  position: relative;
  width: 200px;
  height: 200px;
  border: 7px white solid;
  border-radius: 50%;
  overflow: hidden;
}

.headPicArea .headPic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  transition: width 0.3s;
  cursor: pointer;
}

.headPicArea .headPic img:hover {
  width: 240px;
}

.headPicArea .name {
  font-size: 48px;
  line-height: 24px;
  margin-top: 20px;
}

.headPicArea .workDescribe {
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

.headPicArea .icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 30px;
}

.headPicArea .icons .icon {
  height: 32px;
  width: 32px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;
}

.headPicArea .icons .icon:hover {
  border: 1px solid #55ACEF;
  background-color: #55ACEF;
}

.coverArea .buttons {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  display: flex;
  width: 320px;
  justify-content: space-between;
}

.coverArea .buttons div {
  height: 50px;
  width: 140px;
  text-align: center;
  line-height: 50px;
  color: #FFFFFF;
  border-radius: 3px;
}

.coverArea .buttons .left {
  background: #D63C5D;
  transition: background-color 0.3s;
  cursor: pointer;
}

.coverArea .buttons .left:hover {
  color: #D63C5D;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
}

.coverArea .buttons .right {
  border: 1px solid #FFFFFF;
  transition: background-color 0.3s;
}

.coverArea .buttons .right:hover {
  color: #D63C5D;
  background: #FFFFFF;
}