.page2 {
  width: 100%;
  height: 100vh;
  background: #EDEDED;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.page2 .chapter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page2 .chapter .bigText {
  font-size: 30px;
  line-height: 29px;
}

.page2 .chapter .smallText {
  color: #8f8f8f;
  line-height: 24px;
  margin-top: 20px;
  width: 700px;
  text-align: center;
}

.page2 .banner {
  position: relative;
  width: 900px;
  height: 150px;
  overflow: hidden;
}

.page2 .banner .warp {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: left 0.5s;
}

.page2 .banner .warp .item {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page2 .banner .warp .item .title {
  font-size: 20px;
  color: #d63c5d;
}

.page2 .banner .warp .item .time {
  font-size: 15px;
  margin-top: 10px;
}

.page2 .banner .warp .item .desc {
  font-size: 14px;
  color: #8F8F8F;
  margin-top: 20px;
}

.page2 .switch {
  display: flex;
  justify-content: space-between;
}

.page2 .switch .button {
  width: 20px;
  height: 4px;
  box-sizing: border-box;
  background-color: #E295A5;
  border-radius: 2px;
}

.page2 .skills {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.page2 .skills .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.page2 .skills .item .circle {
  height: 130px;
  width: 130px;
  background-color: #2F293C;
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;
}

.page2 .skills .item .circle:hover {
  background-color: #D63C5D;
}

.page2 .skills .item .big {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-top: 30px;
}

.page2 .skills .item .small {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  margin-top: 20px;
  color: #8f8f8f;
}